<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bienvenido a CineApp</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div class="card">
		<div class="card-header">Lista de peliculas</div>
		<div class="card-body">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Titulo</th>
						<th>Duracion</th>
						<th>Clasificacion</th>
						<th>Genero</th>
						<th>Imagen</th>
						<th>Fecha Estreno</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pel : ${peliculas}">
						<td th:text="${pel.id}"></td>
						<td th:text="${pel.titulo}"></td>
						<td th:text="${pel.duracion}"></td>
						<td th:text="${pel.clasificacion}"></td>
						<td th:text="${pel.genero}"></td>
						<td><img th:src="@{/images/} + ${pel.imagen}" /></td>
						<td th:text="${#dates.format(pel.fechaEstreno, 'dd-MMM-yyyy')}"></td>
						<td th:switch="${pel.status}">
							<span th:case="'Activa'" th:text="${pel.status}" class="badge badge-success"></span> 
							<span th:case="'Inactiva'" th:text="${pel.status}" class="badge badge-secondary"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="../static/js/bootstrap.min.js"
		th:href="@{/js/bootstrap.min.js}"></script>
</body>
</html>